NET "led1"  LOC = P17 | IOSTANDARD = LVTTL;
NET "led2"  LOC = P15 | IOSTANDARD = LVTTL;
NET "led3" LOC = P12 | IOSTANDARD = LVTTL;
NET "led4" LOC = P10 | IOSTANDARD = LVTTL;
NET "led5" LOC = P8 | IOSTANDARD = LVTTL;
NET "led6" LOC = P6 | IOSTANDARD = LVTTL;
NET "led7" LOC = P2 | IOSTANDARD = LVTTL;
NET "led8" LOC = P144 | IOSTANDARD = LVTTL;
NET "led9" LOC = P142 | IOSTANDARD = LVTTL;
NET "led10" LOC = P140 | IOSTANDARD = LVTTL;
NET "led11" LOC = P138 | IOSTANDARD = LVTTL;
NET "led12" LOC = P134 | IOSTANDARD = LVTTL;
NET "led13" LOC = P132 | IOSTANDARD = LVTTL;
NET "led14" LOC = P127 | IOSTANDARD = LVTTL;
NET "led15" LOC = P124 | IOSTANDARD = LVTTL;
NET "led16" LOC = P123 | IOSTANDARD = LVTTL;
NET "turn_p<0>" LOC = P5 | IOSTANDARD = LVTTL;
NET "turn_p<1>" LOC = P1 | IOSTANDARD = LVTTL;
NET "modeout<0>" LOC = P143 | IOSTANDARD = LVTTL;
NET "modeout<1>" LOC = P141 | IOSTANDARD = LVTTL;

NET "buttonone" LOC = P126 | IOSTANDARD = LVTTL | PULLUP;
NET "buttontwo" LOC = P131 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonthree" LOC = P133 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonfour" LOC = P137 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonfive" LOC = P139 | IOSTANDARD = LVTTL | PULLUP;
NET "p1b1seg1" LOC = P119 | IOSTANDARD = LVTTL;
NET "p1b1seg2" LOC = P121 | IOSTANDARD = LVTTL;
NET "p1b1seg3" LOC = P118 | IOSTANDARD = LVTTL;
NET "p1b1seg4" LOC = P116 | IOSTANDARD = LVTTL;
NET "p1b1seg5" LOC = P114 | IOSTANDARD = LVTTL;
NET "p1b1seg6" LOC = P117 | IOSTANDARD = LVTTL;
NET "p1b1seg7" LOC = P115 | IOSTANDARD = LVTTL;


NET "p1b2seg1" LOC = P30 | IOSTANDARD = LVTTL;
NET "p1b2seg2" LOC = P27 | IOSTANDARD = LVTTL;
NET "p1b2seg3" LOC = P29 | IOSTANDARD = LVTTL;
NET "p1b2seg4" LOC = P32 | IOSTANDARD = LVTTL;
NET "p1b2seg5" LOC = P34 | IOSTANDARD = LVTTL;
NET "p1b2seg6" LOC = P33 | IOSTANDARD = LVTTL;
NET "p1b2seg7" LOC = P35 | IOSTANDARD = LVTTL;

NET "p2b1seg1" LOC = P99 | IOSTANDARD = LVTTL;
NET "p2b1seg2" LOC = P100 | IOSTANDARD = LVTTL;
NET "p2b1seg3" LOC = P101 | IOSTANDARD = LVTTL;
NET "p2b1seg4" LOC = P102 | IOSTANDARD = LVTTL;
NET "p2b1seg5" LOC = P104 | IOSTANDARD = LVTTL;
NET "p2b1seg6" LOC = P105 | IOSTANDARD = LVTTL;
NET "p2b1seg7" LOC = P111 | IOSTANDARD = LVTTL;

NET "p2b2seg1" LOC = P97 | IOSTANDARD = LVTTL;
NET "p2b2seg2" LOC = P98 | IOSTANDARD = LVTTL;
NET "p2b2seg3" LOC = P94 | IOSTANDARD = LVTTL;
NET "p2b2seg4" LOC = P95 | IOSTANDARD = LVTTL;
NET "p2b2seg5" LOC = P92 | IOSTANDARD = LVTTL;
NET "p2b2seg6" LOC = P93 | IOSTANDARD = LVTTL;
NET "p2b2seg7" LOC = P87 | IOSTANDARD = LVTTL;v