//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 03 22:08:27 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "modeout[0]" LOCATE = SITE "P143" LEVEL 1;
COMP "modeout[1]" LOCATE = SITE "P141" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "led1" LOCATE = SITE "P17" LEVEL 1;
COMP "led2" LOCATE = SITE "P15" LEVEL 1;
COMP "led3" LOCATE = SITE "P12" LEVEL 1;
COMP "led4" LOCATE = SITE "P10" LEVEL 1;
COMP "led5" LOCATE = SITE "P8" LEVEL 1;
COMP "led6" LOCATE = SITE "P6" LEVEL 1;
COMP "led7" LOCATE = SITE "P2" LEVEL 1;
COMP "led8" LOCATE = SITE "P144" LEVEL 1;
COMP "led9" LOCATE = SITE "P142" LEVEL 1;
COMP "p1b1seg1" LOCATE = SITE "P119" LEVEL 1;
COMP "p1b1seg2" LOCATE = SITE "P121" LEVEL 1;
COMP "p1b1seg3" LOCATE = SITE "P118" LEVEL 1;
COMP "p1b1seg4" LOCATE = SITE "P116" LEVEL 1;
COMP "p1b1seg5" LOCATE = SITE "P114" LEVEL 1;
COMP "p1b1seg6" LOCATE = SITE "P117" LEVEL 1;
COMP "p1b1seg7" LOCATE = SITE "P115" LEVEL 1;
COMP "p1b2seg1" LOCATE = SITE "P30" LEVEL 1;
COMP "p1b2seg2" LOCATE = SITE "P27" LEVEL 1;
COMP "p1b2seg3" LOCATE = SITE "P29" LEVEL 1;
COMP "p1b2seg4" LOCATE = SITE "P32" LEVEL 1;
COMP "p1b2seg5" LOCATE = SITE "P34" LEVEL 1;
COMP "p1b2seg6" LOCATE = SITE "P33" LEVEL 1;
COMP "p1b2seg7" LOCATE = SITE "P35" LEVEL 1;
COMP "p2b1seg1" LOCATE = SITE "P99" LEVEL 1;
COMP "p2b1seg2" LOCATE = SITE "P100" LEVEL 1;
COMP "p2b1seg3" LOCATE = SITE "P101" LEVEL 1;
COMP "p2b1seg4" LOCATE = SITE "P102" LEVEL 1;
COMP "p2b1seg5" LOCATE = SITE "P104" LEVEL 1;
COMP "p2b1seg6" LOCATE = SITE "P105" LEVEL 1;
COMP "p2b1seg7" LOCATE = SITE "P111" LEVEL 1;
COMP "p2b2seg1" LOCATE = SITE "P97" LEVEL 1;
COMP "p2b2seg2" LOCATE = SITE "P98" LEVEL 1;
COMP "p2b2seg3" LOCATE = SITE "P94" LEVEL 1;
COMP "p2b2seg4" LOCATE = SITE "P95" LEVEL 1;
COMP "p2b2seg5" LOCATE = SITE "P92" LEVEL 1;
COMP "p2b2seg6" LOCATE = SITE "P93" LEVEL 1;
COMP "p2b2seg7" LOCATE = SITE "P87" LEVEL 1;
COMP "led10" LOCATE = SITE "P140" LEVEL 1;
COMP "led11" LOCATE = SITE "P138" LEVEL 1;
COMP "led12" LOCATE = SITE "P134" LEVEL 1;
COMP "led13" LOCATE = SITE "P132" LEVEL 1;
COMP "led14" LOCATE = SITE "P127" LEVEL 1;
COMP "led15" LOCATE = SITE "P124" LEVEL 1;
COMP "led16" LOCATE = SITE "P123" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "buttonone" LOCATE = SITE "P126" LEVEL 1;
COMP "buttontwo" LOCATE = SITE "P131" LEVEL 1;
COMP "turn_p[0]" LOCATE = SITE "P5" LEVEL 1;
COMP "turn_p[1]" LOCATE = SITE "P1" LEVEL 1;
COMP "buttonthree" LOCATE = SITE "P133" LEVEL 1;
COMP "buttonfive" LOCATE = SITE "P139" LEVEL 1;
COMP "buttonfour" LOCATE = SITE "P137" LEVEL 1;
PIN gameMachine/game_CU_Mram__n0228_pins<9> = BEL
        "gameMachine/game_CU_Mram__n0228" PINNAME CLKA;
TIMEGRP clk = BEL "gameMachine/game_Regfiles/M_m_q_15" BEL
        "gameMachine/game_Regfiles/M_m_q_14" BEL
        "gameMachine/game_Regfiles/M_m_q_13" BEL
        "gameMachine/game_Regfiles/M_m_q_12" BEL
        "gameMachine/game_Regfiles/M_m_q_11" BEL
        "gameMachine/game_Regfiles/M_m_q_10" BEL
        "gameMachine/game_Regfiles/M_m_q_9" BEL
        "gameMachine/game_Regfiles/M_m_q_8" BEL
        "gameMachine/game_Regfiles/M_m_q_7" BEL
        "gameMachine/game_Regfiles/M_m_q_6" BEL
        "gameMachine/game_Regfiles/M_m_q_5" BEL
        "gameMachine/game_Regfiles/M_m_q_4" BEL
        "gameMachine/game_Regfiles/M_m_q_3" BEL
        "gameMachine/game_Regfiles/M_m_q_2" BEL
        "gameMachine/game_Regfiles/M_m_q_1" BEL
        "gameMachine/game_Regfiles/M_m_q_0" BEL
        "gameMachine/game_Regfiles/M_tp_q_15" BEL
        "gameMachine/game_Regfiles/M_tp_q_14" BEL
        "gameMachine/game_Regfiles/M_tp_q_13" BEL
        "gameMachine/game_Regfiles/M_tp_q_12" BEL
        "gameMachine/game_Regfiles/M_tp_q_11" BEL
        "gameMachine/game_Regfiles/M_tp_q_10" BEL
        "gameMachine/game_Regfiles/M_tp_q_9" BEL
        "gameMachine/game_Regfiles/M_tp_q_8" BEL
        "gameMachine/game_Regfiles/M_tp_q_7" BEL
        "gameMachine/game_Regfiles/M_tp_q_6" BEL
        "gameMachine/game_Regfiles/M_tp_q_5" BEL
        "gameMachine/game_Regfiles/M_tp_q_4" BEL
        "gameMachine/game_Regfiles/M_tp_q_3" BEL
        "gameMachine/game_Regfiles/M_tp_q_2" BEL
        "gameMachine/game_Regfiles/M_tp_q_1" BEL
        "gameMachine/game_Regfiles/M_tp_q_0" BEL
        "gameMachine/game_Regfiles/M_a_q_15" BEL
        "gameMachine/game_Regfiles/M_a_q_14" BEL
        "gameMachine/game_Regfiles/M_a_q_13" BEL
        "gameMachine/game_Regfiles/M_a_q_12" BEL
        "gameMachine/game_Regfiles/M_a_q_11" BEL
        "gameMachine/game_Regfiles/M_a_q_10" BEL
        "gameMachine/game_Regfiles/M_a_q_9" BEL
        "gameMachine/game_Regfiles/M_a_q_8" BEL
        "gameMachine/game_Regfiles/M_a_q_7" BEL
        "gameMachine/game_Regfiles/M_a_q_6" BEL
        "gameMachine/game_Regfiles/M_a_q_5" BEL
        "gameMachine/game_Regfiles/M_a_q_4" BEL
        "gameMachine/game_Regfiles/M_a_q_3" BEL
        "gameMachine/game_Regfiles/M_a_q_2" BEL
        "gameMachine/game_Regfiles/M_a_q_1" BEL
        "gameMachine/game_Regfiles/M_a_q_0" BEL
        "gameMachine/game_Regfiles/M_p1_q_15" BEL
        "gameMachine/game_Regfiles/M_p1_q_14" BEL
        "gameMachine/game_Regfiles/M_p1_q_13" BEL
        "gameMachine/game_Regfiles/M_p1_q_12" BEL
        "gameMachine/game_Regfiles/M_p1_q_11" BEL
        "gameMachine/game_Regfiles/M_p1_q_10" BEL
        "gameMachine/game_Regfiles/M_p1_q_9" BEL
        "gameMachine/game_Regfiles/M_p1_q_8" BEL
        "gameMachine/game_Regfiles/M_p1_q_7" BEL
        "gameMachine/game_Regfiles/M_p1_q_6" BEL
        "gameMachine/game_Regfiles/M_p1_q_5" BEL
        "gameMachine/game_Regfiles/M_p1_q_4" BEL
        "gameMachine/game_Regfiles/M_p1_q_3" BEL
        "gameMachine/game_Regfiles/M_p1_q_2" BEL
        "gameMachine/game_Regfiles/M_p1_q_1" BEL
        "gameMachine/game_Regfiles/M_p1_q_0" BEL
        "gameMachine/game_Regfiles/M_p_q_15" BEL
        "gameMachine/game_Regfiles/M_p_q_14" BEL
        "gameMachine/game_Regfiles/M_p_q_13" BEL
        "gameMachine/game_Regfiles/M_p_q_12" BEL
        "gameMachine/game_Regfiles/M_p_q_11" BEL
        "gameMachine/game_Regfiles/M_p_q_10" BEL
        "gameMachine/game_Regfiles/M_p_q_9" BEL
        "gameMachine/game_Regfiles/M_p_q_8" BEL
        "gameMachine/game_Regfiles/M_p_q_7" BEL
        "gameMachine/game_Regfiles/M_p_q_6" BEL
        "gameMachine/game_Regfiles/M_p_q_5" BEL
        "gameMachine/game_Regfiles/M_p_q_4" BEL
        "gameMachine/game_Regfiles/M_p_q_3" BEL
        "gameMachine/game_Regfiles/M_p_q_2" BEL
        "gameMachine/game_Regfiles/M_p_q_1" BEL
        "gameMachine/game_Regfiles/M_p_q_0" BEL
        "gameMachine/game_Regfiles/M_p2_q_15" BEL
        "gameMachine/game_Regfiles/M_p2_q_14" BEL
        "gameMachine/game_Regfiles/M_p2_q_13" BEL
        "gameMachine/game_Regfiles/M_p2_q_12" BEL
        "gameMachine/game_Regfiles/M_p2_q_11" BEL
        "gameMachine/game_Regfiles/M_p2_q_10" BEL
        "gameMachine/game_Regfiles/M_p2_q_9" BEL
        "gameMachine/game_Regfiles/M_p2_q_8" BEL
        "gameMachine/game_Regfiles/M_p2_q_7" BEL
        "gameMachine/game_Regfiles/M_p2_q_6" BEL
        "gameMachine/game_Regfiles/M_p2_q_5" BEL
        "gameMachine/game_Regfiles/M_p2_q_4" BEL
        "gameMachine/game_Regfiles/M_p2_q_3" BEL
        "gameMachine/game_Regfiles/M_p2_q_2" BEL
        "gameMachine/game_Regfiles/M_p2_q_1" BEL
        "gameMachine/game_Regfiles/M_p2_q_0" BEL
        "gameMachine/game_Regfiles/M_x_q_15" BEL
        "gameMachine/game_Regfiles/M_x_q_14" BEL
        "gameMachine/game_Regfiles/M_x_q_13" BEL
        "gameMachine/game_Regfiles/M_x_q_12" BEL
        "gameMachine/game_Regfiles/M_x_q_11" BEL
        "gameMachine/game_Regfiles/M_x_q_10" BEL
        "gameMachine/game_Regfiles/M_x_q_9" BEL
        "gameMachine/game_Regfiles/M_x_q_8" BEL
        "gameMachine/game_Regfiles/M_x_q_7" BEL
        "gameMachine/game_Regfiles/M_x_q_6" BEL
        "gameMachine/game_Regfiles/M_x_q_5" BEL
        "gameMachine/game_Regfiles/M_x_q_4" BEL
        "gameMachine/game_Regfiles/M_x_q_3" BEL
        "gameMachine/game_Regfiles/M_x_q_2" BEL
        "gameMachine/game_Regfiles/M_x_q_1" BEL
        "gameMachine/game_Regfiles/M_x_q_0" BEL
        "gameMachine/game_Regfiles/M_n_q_15" BEL
        "gameMachine/game_Regfiles/M_n_q_14" BEL
        "gameMachine/game_Regfiles/M_n_q_13" BEL
        "gameMachine/game_Regfiles/M_n_q_12" BEL
        "gameMachine/game_Regfiles/M_n_q_11" BEL
        "gameMachine/game_Regfiles/M_n_q_10" BEL
        "gameMachine/game_Regfiles/M_n_q_9" BEL
        "gameMachine/game_Regfiles/M_n_q_8" BEL
        "gameMachine/game_Regfiles/M_n_q_7" BEL
        "gameMachine/game_Regfiles/M_n_q_6" BEL
        "gameMachine/game_Regfiles/M_n_q_5" BEL
        "gameMachine/game_Regfiles/M_n_q_4" BEL
        "gameMachine/game_Regfiles/M_n_q_3" BEL
        "gameMachine/game_Regfiles/M_n_q_2" BEL
        "gameMachine/game_Regfiles/M_n_q_1" BEL
        "gameMachine/game_Regfiles/M_n_q_0" BEL
        "gameMachine/game_Regfiles/M_z_q_15" BEL
        "gameMachine/game_Regfiles/M_z_q_14" BEL
        "gameMachine/game_Regfiles/M_z_q_13" BEL
        "gameMachine/game_Regfiles/M_z_q_12" BEL
        "gameMachine/game_Regfiles/M_z_q_11" BEL
        "gameMachine/game_Regfiles/M_z_q_10" BEL
        "gameMachine/game_Regfiles/M_z_q_9" BEL
        "gameMachine/game_Regfiles/M_z_q_8" BEL
        "gameMachine/game_Regfiles/M_z_q_7" BEL
        "gameMachine/game_Regfiles/M_z_q_6" BEL
        "gameMachine/game_Regfiles/M_z_q_5" BEL
        "gameMachine/game_Regfiles/M_z_q_4" BEL
        "gameMachine/game_Regfiles/M_z_q_3" BEL
        "gameMachine/game_Regfiles/M_z_q_2" BEL
        "gameMachine/game_Regfiles/M_z_q_1" BEL
        "gameMachine/game_Regfiles/M_z_q_0" BEL
        "gameMachine/game_CU/M_game_fsm_q_6" BEL
        "gameMachine/game_CU/M_game_fsm_q_5" BEL
        "gameMachine/game_CU/M_game_fsm_q_4" BEL
        "gameMachine/game_CU/M_game_fsm_q_3" BEL
        "gameMachine/game_CU/M_game_fsm_q_2" BEL
        "gameMachine/game_CU/M_game_fsm_q_1" BEL
        "gameMachine/game_CU/M_game_fsm_q_0" BEL
        "gameMachine/game_CU/M_game_fsm_q_1_1" BEL
        "gameMachine/game_CU/M_game_fsm_q_0_1" BEL
        "gameMachine/game_CU/M_game_fsm_q_5_1" BEL
        "gameMachine/game_CU/M_game_fsm_q_4_1" BEL
        "gameMachine/game_CU/M_game_fsm_q_3_1" BEL
        "gameMachine/game_CU/M_game_fsm_q_2_1" BEL
        "gameMachine/game_CU/M_game_fsm_q_6_1" PIN
        "gameMachine/game_CU_Mram__n0228_pins<9>" BEL "clk_BUFGP/BUFG" BEL
        "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" BEL
        "edge_dt_btn_p1/M_last_q" BEL "edge_dt_btn_p2/M_last_q" BEL
        "edge_dt_btn_p3/M_last_q" BEL "edge_dt_btn_p4/M_last_q" BEL
        "edge_dt_btn_p5/M_last_q" BEL "buttonone1/M_ctr_q_0" BEL
        "buttonone1/M_ctr_q_1" BEL "buttonone1/M_ctr_q_2" BEL
        "buttonone1/M_ctr_q_3" BEL "buttonone1/M_ctr_q_4" BEL
        "buttonone1/M_ctr_q_5" BEL "buttonone1/M_ctr_q_6" BEL
        "buttonone1/M_ctr_q_7" BEL "buttonone1/M_ctr_q_8" BEL
        "buttonone1/M_ctr_q_9" BEL "buttonone1/M_ctr_q_10" BEL
        "buttonone1/M_ctr_q_11" BEL "buttonone1/M_ctr_q_12" BEL
        "buttonone1/M_ctr_q_13" BEL "buttonone1/M_ctr_q_14" BEL
        "buttonone1/M_ctr_q_15" BEL "buttonone1/M_ctr_q_16" BEL
        "buttonone1/M_ctr_q_17" BEL "buttonone1/M_ctr_q_18" BEL
        "buttonone1/M_ctr_q_19" BEL "buttonone1/sync/M_pipe_q_1" BEL
        "buttonone1/sync/Mshreg_M_pipe_q_1" BEL "buttonfive5/M_ctr_q_0" BEL
        "buttonfive5/M_ctr_q_1" BEL "buttonfive5/M_ctr_q_2" BEL
        "buttonfive5/M_ctr_q_3" BEL "buttonfive5/M_ctr_q_4" BEL
        "buttonfive5/M_ctr_q_5" BEL "buttonfive5/M_ctr_q_6" BEL
        "buttonfive5/M_ctr_q_7" BEL "buttonfive5/M_ctr_q_8" BEL
        "buttonfive5/M_ctr_q_9" BEL "buttonfive5/M_ctr_q_10" BEL
        "buttonfive5/M_ctr_q_11" BEL "buttonfive5/M_ctr_q_12" BEL
        "buttonfive5/M_ctr_q_13" BEL "buttonfive5/M_ctr_q_14" BEL
        "buttonfive5/M_ctr_q_15" BEL "buttonfive5/M_ctr_q_16" BEL
        "buttonfive5/M_ctr_q_17" BEL "buttonfive5/M_ctr_q_18" BEL
        "buttonfive5/M_ctr_q_19" BEL "buttonfive5/sync/M_pipe_q_1" BEL
        "buttonfive5/sync/Mshreg_M_pipe_q_1" BEL "buttonthree3/M_ctr_q_0" BEL
        "buttonthree3/M_ctr_q_1" BEL "buttonthree3/M_ctr_q_2" BEL
        "buttonthree3/M_ctr_q_3" BEL "buttonthree3/M_ctr_q_4" BEL
        "buttonthree3/M_ctr_q_5" BEL "buttonthree3/M_ctr_q_6" BEL
        "buttonthree3/M_ctr_q_7" BEL "buttonthree3/M_ctr_q_8" BEL
        "buttonthree3/M_ctr_q_9" BEL "buttonthree3/M_ctr_q_10" BEL
        "buttonthree3/M_ctr_q_11" BEL "buttonthree3/M_ctr_q_12" BEL
        "buttonthree3/M_ctr_q_13" BEL "buttonthree3/M_ctr_q_14" BEL
        "buttonthree3/M_ctr_q_15" BEL "buttonthree3/M_ctr_q_16" BEL
        "buttonthree3/M_ctr_q_17" BEL "buttonthree3/M_ctr_q_18" BEL
        "buttonthree3/M_ctr_q_19" BEL "buttonthree3/sync/M_pipe_q_1" BEL
        "buttonthree3/sync/Mshreg_M_pipe_q_1" BEL "buttonfour4/M_ctr_q_0" BEL
        "buttonfour4/M_ctr_q_1" BEL "buttonfour4/M_ctr_q_2" BEL
        "buttonfour4/M_ctr_q_3" BEL "buttonfour4/M_ctr_q_4" BEL
        "buttonfour4/M_ctr_q_5" BEL "buttonfour4/M_ctr_q_6" BEL
        "buttonfour4/M_ctr_q_7" BEL "buttonfour4/M_ctr_q_8" BEL
        "buttonfour4/M_ctr_q_9" BEL "buttonfour4/M_ctr_q_10" BEL
        "buttonfour4/M_ctr_q_11" BEL "buttonfour4/M_ctr_q_12" BEL
        "buttonfour4/M_ctr_q_13" BEL "buttonfour4/M_ctr_q_14" BEL
        "buttonfour4/M_ctr_q_15" BEL "buttonfour4/M_ctr_q_16" BEL
        "buttonfour4/M_ctr_q_17" BEL "buttonfour4/M_ctr_q_18" BEL
        "buttonfour4/M_ctr_q_19" BEL "buttonfour4/sync/M_pipe_q_1" BEL
        "buttonfour4/sync/Mshreg_M_pipe_q_1" BEL "buttontwo2/M_ctr_q_0" BEL
        "buttontwo2/M_ctr_q_1" BEL "buttontwo2/M_ctr_q_2" BEL
        "buttontwo2/M_ctr_q_3" BEL "buttontwo2/M_ctr_q_4" BEL
        "buttontwo2/M_ctr_q_5" BEL "buttontwo2/M_ctr_q_6" BEL
        "buttontwo2/M_ctr_q_7" BEL "buttontwo2/M_ctr_q_8" BEL
        "buttontwo2/M_ctr_q_9" BEL "buttontwo2/M_ctr_q_10" BEL
        "buttontwo2/M_ctr_q_11" BEL "buttontwo2/M_ctr_q_12" BEL
        "buttontwo2/M_ctr_q_13" BEL "buttontwo2/M_ctr_q_14" BEL
        "buttontwo2/M_ctr_q_15" BEL "buttontwo2/M_ctr_q_16" BEL
        "buttontwo2/M_ctr_q_17" BEL "buttontwo2/M_ctr_q_18" BEL
        "buttontwo2/M_ctr_q_19" BEL "buttontwo2/sync/M_pipe_q_1" BEL
        "buttontwo2/sync/Mshreg_M_pipe_q_1";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

